.body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #747e85;
}
.navbar-container{
    top: 0;
    background-color: #262B37;
    position: sticky;
    z-index: 1;
    
}
.banner-column{
    background-color: #546f83;
}
.text-first{
    font-family: 'Young Serif', serif;
    color: azure;
}
.text-second{
    font-family: 'Young Serif', serif;
    color: azure;
}
.nav-link{
    color: rgb(150, 214, 214);
}
.about-container{
    background-color: #747e85;
}
.education-container{
    background-color: #e9e0e0;
}
.project-container{
    background-color:  #2BB3DD;
}
.portfolio-container{
    background-color: cadetblue;
}
/* education round cirle will be red*/
.bg-redtype{
    background-color: #FB8578;
}
.bg-redtype:hover{
    color: black!important;
}
/* education text will be red*/
.redtype-color{
    color: #FB8578;
}
/* education round all will be affect*/
.circle-edu{
    background-color: #FB8578;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.form-container{
    background-color: #474D5D;
}
.inner-form{
    background-color: #80889e;
}
.footer{
    background-color: #2BB3DD;
}
.circleIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    font-size: 40px;
    text-align: center;
    color: #117996;
}
.circleIcon:hover{
    background-color: black;
}
