.body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #747e85;
}
.navbar-container{
    top: 0;
    background-color: rgb(37, 34, 34);
    position: sticky;
    z-index: 2;
}
.banner-column{
    background-color: #546f83;
}
.text-first{
    font-family: 'Young Serif', serif;
    color: azure;
}
.text-second{
    font-family: 'Young Serif', serif;
    color: azure;
}
.nav-link{
    color: rgb(150, 214, 214);
}
.about-container{
    background-color: #747e85;
}
.education-container{
    background-color: #e9e0e0;
}
.project-container{
    background-color:  #2BB3DD;
}
.portfolio-container{
    background-color: cadetblue;
}
/* education round cirle will be red*/
.bg-redtype{
    background-color: #FB8578;
}
/* education text will be red*/
.redtype-color{
    color: #FB8578;
}
/* education round all will be affect*/
.cirCle{
    background-color: #FB8578;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.form-container{
    background-color: #474D5D;
}